<% if notice %>
<div class="message is-info">
  <div class="message-body"><%= notice %></div>
</div>
<% end %>

<% if alert %>
<div class="message is-danger">
  <div class="message-body"><%= alert %></div>
</div>
<% end %>